@import 'variables.sass'

@font-face 
    font-family: 'Poppins', sans-serif
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900')

html
    font-size: 1em

html[data-theme='light']
    --button-background-color: white
    --button-color: black
    --bs-body-bg: #E9ECEF
    --outer-background-color: #343A40
    --color: black
    --bs-body-color: black !important
    --a-color: black
    --bs-nav-link-color: white
    --side-color: #F8F9FA 


html[data-theme='dark']  
    --button-background-color: black
    --button-color: white
    --bs-body-bg: #343A40
    --outer-background-color: #E9ECEF
    --color: white !important
    --bs-body-color: white !important
    --bs-nav-link-color: black
    --a-color: white
    --side-color: #495057

    input
        background: #252a2e

a 
    color: var(--a-color)

a:hover 
    filter: invert(1)
    text-decoration: underline !important

body
    margin: 0
    padding: 0
    height: 100%
    min-height: 100vh
    background-color: var(--outer-background-color)
    font-family: 'Inter', sans-serif
    font-weight: 400
    font-size: 1em

@each $percent in $percents
  .split-#{$percent}-#{100-$percent}  
        display: grid
        grid-template-columns: #{$percent}fr #{100-$percent}fr

main 
    padding: 0.5rem
    width: 80vw
    margin-left: auto
    margin-right: auto
    background: var(--background-color)
    box-sizing: border-box

@media (max-width: 600px) 
    main
        width: 95vw

nav, header, footer 
    background: var(--outer-background-color)
    margin: 0px !important
    color: var(--side-color)
	
.border-20 
  border-radius: 20px

.deco-none 
  text-decoration: none

.border-gray 
  border: 3px solid gray

.border-black
  border: 3px solid black

a.active
    text-decoration: underline

.scale 
  transition: 1s


.scale:hover 
  transform: scale(1.1)

.nav-link
    transition: none !important
/* some stuff

#submit
  border-radius: 10px
  background: #F9F9F9

#wrapper img.zero
  margin: 0
  padding: 0

.shown
  display: inline-block

.scale
  transition: 1s

  &:hover
    transform: scale(1.1)

.math
  font-family: courier
  font-weight: bold
  background-color: #CCC

html[data-theme='dark'] .math
  background-color: #333

.margin-25-top
  margin-top: 25px

.align-center
  text-align: center

.align-left
  text-align: left

.align-right
  text-align: right

.href
  text-decoration: none
  color: black

div.margin-15
  margin: 1
  display: flex
  flex-wrap: wrap
  justify-content: center
  flex-direction: row
  align-items: center

.word-break
  word-break: break-all

a
  &.white-h:hover
    color: #E6E6FA

.block
  display: block

.icon
  border-radius: 50%
  width: 100px
  height: 100px
  margin: 10px

.border-black
  border: 2px solid black

.margin-20
  margin: 20px

.padding-20
  padding: 20px

.border-20
  border-radius: 20px

.deco-none
  text-decoration: none

.clear
  clear: both

#hidden-text
  width: 80%
  height: 400px
  overflow: auto

.deco-none
  text-decoration: none
  list-style-type: none